/* -------------------------------------------------------------------------- */
/*                                brainwaveio Button                               */
/* -------------------------------------------------------------------------- */
/* prettier-ignore */
:root,
[data-bs-theme=light] {
  --brainwaveio-primary: #0B1F4D;
  --brainwaveio-primary-rgb: 11, 31, 77;
  --brainwaveio-primary-text-emphasis: #071633;
  --brainwaveio-primary-bg-subtle: #E7ECF8;
  --brainwaveio-primary-border-subtle: #B7C4E6;
  --brainwaveio-link-hover-color: #0B1F4D;
  --brainwaveio-link-hover-color-rgb: 11, 31, 77;
  --brainwaveio-btn-link-hover-color: #0B1F4D;
  --brainwaveio-input-btn-focus-color: rgba(11, 31, 77, 0.25);
  --brainwaveio-focus-ring-color: rgba(11, 31, 77, 0.25);
}

.btn-primary {
  --brainwaveio-btn-color: #fff;
  --brainwaveio-btn-bg: #0B1F4D;
  --brainwaveio-btn-border-color: #0B1F4D;
  --brainwaveio-btn-hover-color: #fff;
  --brainwaveio-btn-hover-bg: #102B68;
  --brainwaveio-btn-hover-border-color: #102B68;
  --brainwaveio-btn-focus-shadow-rgb: 52, 78, 137;
  --brainwaveio-btn-active-color: #fff;
  --brainwaveio-btn-active-bg: #071633;
  --brainwaveio-btn-active-border-color: #071633;
  --brainwaveio-btn-disabled-color: #fff;
  --brainwaveio-btn-disabled-bg: #0B1F4D;
  --brainwaveio-btn-disabled-border-color: #0B1F4D;
}

.scroll-to-top {
  background-color: #0B1F4D !important;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  background-color: #102B68 !important;
}

.scroll-to-top .scroll-to-top-icon {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: translateY(2px) rotate(45deg);
}
